@model HomeModel

@{
    ViewData["Title"] = "Home Page";
}
<div class="profiles-container">


    <div class="card-deck">
        @if (Model.UsersOne is not null)
        {
            @foreach (var user in Model.UsersOne)
            {
                <div class="card">
                    <a href="/getProfile/@user.UserID">
                        @if (user.ProfilePic is not null)
                        {
                            <img id="cardPicture" class="card-img-top" src="data:image/*;base64,@(Convert.ToBase64String(user.ProfilePic))" alt="Card profile picture" />
                        }
                        else
                        {
                            <img id="cardPicture" class="card-img-top" src="~/default-profile-pic.png" alt="Card profile picture" />
                        }
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="/getProfile/@user.UserID"> @Html.DisplayFor(modelItem => user.Name) </a>
                        </h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => user.Bio)</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            }
        }
    </div>
    <div class="card-deck">
        @if (Model.UsersTwo is not null)
        {
            @foreach (var user in Model.UsersTwo)
            {
                <div class="card">
                    <a href="/getProfile/@user.UserID">
                        <img id="cardPicture" class="card-img-top" src="~/profilepic.jpg" alt="Card profile picture">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="/getProfile/@user.UserID"> @Html.DisplayFor(modelItem => user.Name) </a>
                        </h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => user.Bio)</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            }
        }
        </div>
    <div class="card-deck">
        @if (Model.UsersThree is not null)
        {
            @foreach (var user in Model.UsersThree)
            {
                <div class="card">
                    <a href="/getProfile/@user.UserID">
                        <img id="cardPicture" class="card-img-top" src="~/profilepic.jpg" alt="Card profile picture">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="/getProfile/@user.UserID"> @Html.DisplayFor(modelItem => user.Name) </a>
                        </h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => user.Bio)</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            }
        }
        </div>
</div>
    @section Scripts {
        <script>
        $(document).ready(function () {
            var loggedIn = @User.Identity.IsAuthenticated.ToString().ToLower();
            if (loggedIn) {

                //route navbar welcome button with the logged in user ID
                $.ajax({
                    type: 'GET',
                    url: '../api/UserEntities/getUserID',
                    success: function (result) {
                        $("#user-button").attr("href", "/getProfile/" + result);
                    }
                });

                //set the navbar welcome message/button to the user's name
                $.ajax({
                    type: 'GET',
                    url: '../api/UserEntities/getUsername',
                    success: function (result) {
                        $("#user-button").text("Hello, "+ result + "!");
                    }
                });
            }
        });
        </script>
    }
